
/** Home Part **/


/* coloor F1EFE3 */
#home {
 
  display: flex;
  justify-content: center;
  align-items: center;
}


#home__container {
  background-image: radial-gradient(circle, rgb(22, 20, 20) 5%, transparent 10%),
    radial-gradient(circle, rgb(22, 20, 20) 5%, transparent 10%);
  background-size: 15px 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

#home__container span:first-child {
  line-height: 1;
  font-weight: 800;
  font-size: 8em;
  text-align: center;
  font-family: 'Cabinet-Grotesk',sans-serif;
}

#home__container .desktop {
  color: grey;
  padding-left: 3em;
  list-style-type: none;
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 1em;
  font-weight: 500;
}

#home__container .desktop .point {
  background-color: rgb(255, 123, 0);
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

#home__container .mobile {
  color: grey;
  width: 100%;
  list-style-type: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 1em;
  font-weight: 500;
}
#home__container .mobile .point {
  background-color: rgb(255, 123, 0);
  width: 8px;
  height: 8px;
  border-radius: 10px;
  display: none;
}

/** Home Part End **/
/*
@media screen and (max-width: 800px) {
  #home__container #home__container__content span {
    line-height: 1;
    font-weight: 800;
    font-family: "Cabinet Grotesk", sans-serif;
    font-size: 4.5em;
  }
}
*/

/*
  Média query
  max-width: 992 = laptop
  max-width: 768 = tablette
  max-width: 600 = mobile

  */
@media only screen and (max-width: 992px) {
  #home__container {
    width: 90%;
   
    /*padding: 30% 0 10% 0;*/
    gap: 2.5em;
  }

  #home__container span:first-child {
    font-size: 7em;
  }

}

@media only screen and (max-width: 768px) {
  #home__container {
    width: 90%;
    
    gap: 2.5em;
  }

  #home__container span:first-child {
    font-size: 6em;
  }

 
}

@media only screen and (max-width: 600px) {
  #home__container {
    width: 90%;
    /*padding: 30% 0 10% 0;*/
    gap: 2.5em;
  }

  #home__container span:first-child {
    font-size: 4em;
  }

  #home__container ul {
    display: none;
  }

  #home__container .desktop {
    display: none;
  }

  #home__container .mobile {
    display: flex;
  }
  #home__container .mobile .point {
    display: flex;
  }
}
