
#work {
    display: flex;
    justify-content: center;
    align-items: center;
  }
#workContainer {
    width:60% ;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 5%;
  margin-bottom: 5%;
    background-image: radial-gradient(circle, rgb(22, 20, 20) 5%, transparent 10%),
      radial-gradient(circle, rgb(22, 20, 20) 5%, transparent 10%);
    background-size: 15px 15px;
    
  }
  
  #workContainerTitle {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
  }
  
  #workContainerTitle div {
    display: flex;
    align-items: center;
  }
  
  #workContainerTitle div:first-child {
    flex-direction: column;
    align-items: flex-start;
  }
  
  #workContainerTitle div span {
    line-height: 1;
    text-transform: uppercase;
    font-size: 3em;letter-spacing: 4px;
  }
  
  #workContainerTitle div p {
    letter-spacing: 4px;
    font-size: 1em;
    padding-left: 0.9em;
  }

 
#workContainerContent{
    display: inline-flex;
    width: 100%;
    padding: 10px;
   flex-wrap: wrap; color: #f1efe3; 
   justify-content:center;
   align-items: flex-start;
}

.work-items{
    margin: 10px;
    min-width: 225px;
max-width: calc(375px - 5%);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

cursor:default;
display: flex;
flex-direction: column;
}

.work-items  *{
  width: 100%;
}
.work-items:hover {
transform: scale(1.05);
border-left: 1px solid rgb(255, 123, 0);
}
.items-content {
  padding: 1em;
}
.items-content-title{
  font-size: 1.5em;
}
.items-content-tech{
  font-size: .7em;
}
.items-footer-list{
  display: inline-flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;

  font-size: 1.25em;
  list-style: none;
}
.items-footer li{
  text-align: center;
 }

  
/*
  Média query
  max-width: 992 = laptop
  max-width: 768 = tablette
  max-width: 600 = mobile

  */
  
@media only screen and (max-width: 1024px) {
    #workContainer {
      width:80% ;
        
      }
    
  }
  
  @media only screen and (max-width: 768px) {
    #workContainer {
      width: 90%;
      
    }
   
     /*  #work__container__contentFirst {
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
          text-align: center;
          gap: .5em;
        }
      
        #work__container__contentFirst div span {
          width: 100%;
         
        }
        
  #work__container__contentFirst {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
  }
  
  #work__container__contentFirst div {
    display: flex;
    align-items: center;
  }
  
  #work__container__contentFirst div:first-child {
    flex-direction: column;
    align-items: flex-start;
  }
  
  #work__container__contentFirst div span {
    line-height: 1;
    text-transform: uppercase;
    font-size: 3em;letter-spacing: 4px;
  }
  
  #work__container__contentFirst div p {
    letter-spacing: 4px;
    font-size: 1em;
    padding-left: 0.9em;
  } */

  #workContainerContent{
      
    flex-direction: column;
    align-items: center;
    gap: 25px;
   }



  
  
}
  
  @media only screen and (max-width: 600px) {
   
    #workContainerTitle div span {
      font-size: 2em;
     
    }
     
    .work-items:nth-child(odd) {
     
    border-left: 1px solid rgb(255, 123, 0);
  }
  .work-items:nth-child(even) {
     
    border-left: 1px solid #f1efe3;
  }
  
    
  }
  